@page "/"
@inject IJSRuntime JS
@using Model

<PageTitle>Home</PageTitle>

<div class="renderPanel">
    <h1>Hello, world!</h1>

    <img  src="@imgSrc" alt="Simulation Rendering" style="width: 90%; margin: auto;"/>
</div>

<div class="toolsPanel">
    <button class="btn btn-primary" @onclick="RunSimulation">Start</button>
    <div class="labelledInput">
        <label for="frameCount">Frames:</label>
        <input id="frameCount" type="number" @bind="frames">
    </div>
</div>

@code {
    private SampleSimulation simulation = new SampleSimulation();
    private string imgSrc = "favicon.png";
    private int frames = 10;

    protected override async Task OnInitializedAsync()
    {
        simulation.OnStep += (() => imgSrc = "data:image;base64," + simulation.getImageBase64());

        imgSrc = "data:image;base64," + simulation.getImageBase64();
    }

    public void RunSimulation()
    {
        simulation.run(frames);
    }
}
