@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<div class="renderPanel">
    <h1>Hello, world!</h1>

    <img src="favicon.png" alt="Simulation Rendering" style="width: 90%; margin: auto;"/>
</div>

<div class="toolsPanel">
    <button class="btn btn-primary" @onclick="TestFunc">Test Button (@test)</button>
    @code {
        private int test = 0;
        public void TestFunc()
        {
            test++;
            Logger.LogInformation("TEST");
            JS.InvokeVoidAsync("TestJsFunc");
        }
    }

    <script>
        function TestJsFunc(){
            console.log("TEST");
        }
    </script>
</div>

